<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/style.css" tyle="stylesheet/css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/javascript/scrollAJAX.js"></script>
        <title>Star Wars API</title>
    </head>
    <body class="bg-light">
        <div id="container" class="container">
            <div class="row bg-primary rounded justify-content-center py-2">
                <h2 class="text-light">Star Wars API</h2>
            </div>
            <div class="row justify-content-center py-2">
                <h3>What would you like to know more about?</h3>
            </div>
            <div class="row justify-content-center py-1 mb-2">
                <div class="col-2-offset-5">
                    <button id="peopleBtn" class="btn btn-secondary mx-3">People</button>
                </div>
                <div class="col-2-offset-5">
                    <button id="planetBtn" class="btn btn-secondary mx-3">Planets</button>
                </div>
            </div>
            <div id="data" class="row justify-content-center py-1">
            </div>
            <div id="links" class="row justify-content-center">
            </div>
        </div>
    </body>
</html>